.main{
    text-align: center;
    vertical-align: center;
    line-height: 100vh;
}







body{
    background-image: url(/home/mwangi/Major-League-Soccer/src/images);
    width: 100%;
    height: 100%;
}